body {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
    background-color: #E7E7E8;
}

h1 {
    color: #22252D;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator {
    max-width: 450px;
    height: 70vh;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #22252D;
}

.screen {
    max-width: 420px;
    height: 20vh;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 35% 65%;
    background-color: #292D36;
}

div.live {
    font-size: 35px;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 10px;   
}

div.history {
    font-size: 28px;
    font-weight: 600;
}

.inputs {
    max-width: 420px;
    height: 40vh;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #292D36;
}

.inputs div {
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22252D;
}

.number {
    color: #26AD97;
    font-size: 20px;
}

.operand {
    color: #EF7979;
    font-size: 20px;
}

.enter, .clear, .delete {
    font-size: 12px;
    letter-spacing: 1px;
}

footer {
    color: #22252D;
}